html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.whole_page {
  width: 900px;
  margin: 0 auto;
}

.navigation {
  margin: 0px;
  padding: 0px;
  width: 900px;
  text-align: center;
  padding-top: 76px;
  padding-bottom: 100px;
}

.navigation_item {
  margin-right: 100px;
  display: inline-block;
  font-family: "Playfair Display", sans-serif;
}

.navigation_item:last-child {
  margin-right: 0px;
}

.navigation_link {
  color: #626262;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation_link:hover,
.navigation_link:focus {
  color: #03a9f4;
}

.main_content {
  margin-bottom: 54px;
}

.bloсk {
  list-style: none;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  width: 420px;
  display: inline-block;
  font-size: 0px;
  margin-right: 56px;
  margin-bottom: 100px;
}

.bloсk:nth-child(2n) {
  margin-right: 0px;
}

.bloсk:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.information {
  margin: 0px;
  color: #626262;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Myriad-Pro-regular", serif;
}

.photo_caption {
  margin: 0px;
  text-align: left;
  color: #b4ad9e;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 24px;
}

.text_title {
  margin: 0px;
  color: #626262;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  margin-bottom: 34px;
}

.button {
  border: none;
  margin: 0px;
  padding: 20px 36px;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #626262;
}

.button {
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
}