html {
  box-sizing: border-box;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
   'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: antiquewhite;
  background-image: url('../images/bg-pattern.png');
}

input[type=text] {
  padding: 12px 20px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
}
.location {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.search-form {
  display: flex;
  align-items: center;
}

.btn {
  outline: none;
  background: #34bbdd;
  padding: 7px;
  cursor: pointer;
  box-shadow: 3px 3px #0b4655;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  border-style: solid;
  border-radius: 10px;
  transition: width 2s, height 2s;
}

.btn:hover {
  transform: scale(1.5);
 }

/* Article List */

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.photo-card {
  width: 320px;
  position: relative;
  border-style: solid;
  border-radius: 20px;
  margin-bottom: 20px;
  border-color: green;
}

.gallery img {
  display: block;
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

.stats {
  display: flex;
  background-color: rgb(194, 188, 188);
}

.stats-item {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 128, 68);
}

.stats{
  position:absolute;
  left:0;
  bottom:0;
  display:none;
}
.photo-card:hover .stats{
  display:block;
}
