* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.whole_page {
  width: 1600px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  margin: 0 auto;
  width: 1110px;
}

/* Heder */

.section__nav {
  background-color: #ffffff;
  padding-bottom: 38px;
}

.block__title {
  background-image: linear-gradient(rgba(0, 0, 2, 0.52), rgba(0, 0, 2, 0.52)),
    url(./../img/slide4.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-transform: uppercase;
}

.logo {
  float: left;
  color: #555252;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -1px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 37px;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.navigation_list {
  float: right;
  width: 465px;
  padding-top: 45px;
}

.navigation_item {
  float: left;
  margin-right: 28px;
}

.navigation_item:last-child {
  margin-right: 0px;
}

.navigation_link {
  color: #150101;
  font-size: 14px;
  line-height: 17px;
  height: 23px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.navigation_link:hover,
.navigation_link:focus {
  color: #1abc9c;
}

.slider {
  height: 600px;
  position: relative;
}

.titel {
  width: 760px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heder__title {
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 82px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.heder__discription {
  font-size: 17px;
  letter-spacing: -1px;
  line-height: 54px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.slider-control {
  position: absolute;
  display: inline-block;
  width: 104px;
  height: 104px;
  background: transparent;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}

.slider-control:hover,
.slider-control:focus {
  background-color: #1abc9c;
}

.slider-ctrl-prev {
  left: 0;
  position: relative;
}

.slider-ctrl-prev::before {
  content: "";
  height: 38px;
  width: 22px;
  background-image: url(./../img/.png);
  background-size: 22px 38px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-ctrl-next {
  right: 0;
}

.slider-ctrl-next::before {
  content: "";
  height: 38px;
  width: 22px;
  background-image: url(./../img/.png);
  background-size: 22px 38px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__part {
  background-color: #e9f0fd;
  padding-bottom: 100px;
}

.text_title {
  display: inline-block;
  margin: 0px auto;
  padding: 0px;
  width: 1110px;
  color: #515151;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: "Roboto", serif;
  text-align: center;
  padding-top: 33px;
}

.text_title::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: rgb(26, 188, 156);
  content: "";
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 92px;
}

.card {
  float: left;
  width: 255px;
  height: 322px;
  padding: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #323232;
  position: relative;
}

.card:nth-child(4n) {
  margin-right: 0px;
}

.card:nth-child(n + 4) {
  margin-bottom: 0px;
}

.card:hover .card_name {
  background-color: #1abc9c;
}

.card:hover .product_cost {
  background-color: #7fd9c7;
}

.card:hover .overlay {
  display: block;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 262px;
  width: 235px;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.55);
  cursor: pointer;
  display: none;
}

.overlay__list-item-button {
  display: block;
  width: 48px;
  height: 48px;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay__list-item-button-heart {
  background-image: url(./../img/heart.png);
  margin-right: 8px;
}

.overlay__list-item-button-heart:hover {
  background-color: #1abc9c;
}

.overlay__list-item-button-arrows {
  background-image: url(./../img/arrows.png);
  margin-right: 8px;
}

.overlay__list-item-button-arrows:hover {
  background-color: #1abc9c;
}

.overlay__list-item-button-clock {
  background-image: url(./../img/clock.png);
}

.overlay__list-item-button-clock:hover {
  background-color: #1abc9c;
}

.overlay__list-item-button-basket {
  position: relative;
  color: #ffffff;
  width: 147px;
  text-transform: uppercase;
  text-align: right;
  padding-right: 17px;
  font-size: 14px;
  line-height: 32px;
  font-family: "Open Sans", serif;
  margin-top: 7px;
  background-color: #323232;
}

.overlay__list-item-button-basket:hover {
  background-color: #1abc9c;
}

.overlay__list-item-button-basket::before {
  content: "";
  height: 30px;
  width: 30px;
  background-image: url(./../img/basket.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.overlay__list {
  width: 166px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo {
  min-width: 255px;
  max-width: 100%;
  height: auto;
}

.card_name {
  float: left;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-left: 14px;
  text-decoration: none;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.product_cost {
  position: relative;
}

.product_cost::before {
  content: "";
  display: block;
  background-image: url(./../img/dollar_sign_PNG46.png);
  width: 15px;
  height: 15px;
  background-size: contain;
  position: absolute;
  top: 13px;
  left: 11px;
}

.product_cost {
  float: left;
  width: 55px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.45);
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding: 4px 11px 4px 24px;
  text-decoration: none;
  box-sizing: border-box;
}

/* footer */

.footer {
  font-size: 16px;
  line-height: 28px;
  color: #fefefe;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
  padding: 38px 0px 38px 0px;
  background-color: rgb(50, 50, 50);
}

.footer__link {
  color: #3f9081;
}