<form action="#" class="search-film">
        <div class="wrapper">
          <input
            class="search-film__input"
            type="text"
            name="subject"
            placeholder="Write movie name and click Enter"
          />
        </div>
      </form>