{{#each this}}
<li class="js-films-list__item">
    <img class="js-films-list__item__img" src="http://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" />
    <p class="js-films-list__item__rating">{{evaluation}}</p>
    <h2 class="js-films-list__item__title">{{title}}</h2>
</li>
{{/each}}