.fa-video {
  margin-right: 10px;
  color: rgba(119, 193, 187, 0.6);
}
.fa-calendar-plus {
  margin-right: 10px;
  color: rgba(119, 193, 187, 0.6);
}
.section__details-pag {
  padding-top: 20px;
  margin-bottom: 20px;
}
.details__button-watched {
  margin-right: 14px;
}

.details__icons {
  color: rgba(119, 193, 187, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.details__description-item:not(:last-child)::after {
  content: ',';
}

.details__about {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 18px;
  color: rgb(55, 44, 72);
}

.details__text-about {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(55, 44, 72);
  margin-bottom: 36px;
}

.details__button-container {
  display: flex;
}

.details__item:nth-child(odd) {
  background-color: rgba(119, 193, 187, 0.6);
}

.details__characteristic {
  width: 126px;
  padding-left: 16px;
}
.details__item {
  width: 300px;
  display: flex;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
.details__list {
  margin-bottom: 30px;
}
.details__title {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(55, 44, 72);
  margin-bottom: 18px;
}

.details__img {
  height: 400px;
  width: 300px;
  margin-bottom: 20px;
}
.details__button-container button {
  font-size: 13px;
  position: relative;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(55, 44, 72);
}

@media screen and (min-width: 768px) {
  .section__details-pag {
    padding-top: 22px;
    margin-bottom: 28px;
  }
  .details__container {
    display: flex;
  }
  .details__img {
    width: 354px;
    min-height: 536px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .details__content-container {
    width: 328px;
    padding-top: 12px;
  }
  .details__title {
    margin-bottom: 14px;
  }
  .details__list {
    margin-bottom: 46px;
  }
  .details__item {
    width: 328px;
  }
  .details__description {
    width: 202px;
  }
}

@media screen and (min-width: 1024px) {
  .section__details-pag {
    padding-top: 26px;
  }
  .details__img {
    width: 456px;
    min-height: 630px;
    margin-left: 34x;
    margin-right: 34px;
  }
  .details__content-container {
    width: 464px;
  }
  .details__item {
    width: 464px;
  }
  .details__description {
    width: 338px;
  }
}
