html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.whole_page {
  width: 1110px;
  margin: 0 auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.main_content {
  margin: 0 auto;
  width: 1110px;
  font-size: 0px;
}
.logo {
  float: left;
  color: #555252;
  font-family: "ROBOTO", sans-serif;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -1px;
  font-weight: 200;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 32px;
}
.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}
.navigation {
  float: right;
  margin: 0px;
  padding: 0px;
  width: 490px;
  height: 60px;
  list-style: none;
  padding-top: 43px;
}
.navigation_item {
  margin-right: 28px;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
}
.navigation_item:last-child {
  margin-right: 0px;
}
.navigation_link {
  float: left;
  color: #150101;
  font-size: 14px;
  line-height: 11px;
  height: 23px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation_link:hover,
.navigation_link:focus {
  color: #1abc9c;
}
.text_title {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  height: 83px;
  width: 1110px;
  color: #818181;
  font-size: 48px;
  line-height: 32px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: "Roboto", serif;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 130px;
}
.text_title::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  content: "";
  margin: 0 auto;
  margin: 26px 472px;
}
.card {
  padding: 0px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.card:nth-child(4n) {
  margin-right: 0px;
}
.card:nth-child(n+4) {
  margin-bottom: 0px;
}
.card:hover .name {
  background-color: #1abc9c;
}
.card:hover .product_cost {
  background-color: #7fd9c7;
}
.block {
  width: 255px;
  height: 320px;
}
.photo {
  display: block;
  min-width: 255px;
  max-width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: #e9f0fd;
  }
.name {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 40px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Roboto", serif;
  text-align: left;
  background-color: #323232;
  padding-left: 14px;
  padding-top: 4px;
  text-decoration: none;
}
.product_cost {
  position: relative;
}
.product_cost::before {
  content: '';
  display: block;
  background-image: url(./../img/dollar_sign_PNG46.png);
  width: 18px;
  height: 18px;
  background-size: contain;
  position: absolute;
  top: 11px;
}
.product_cost {
  float: left;
  width: 55px;
  height: 40px;
  background-color: #8c8c8c;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Roboto", serif;
  text-align: center;
  padding-top: 4px;
  text-decoration: none;
}
.latest_news {
  margin: 0px;
  padding: 0px;
  width: 350px;
}
.news_photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.latest_news_card {
  padding: 0px;
  float: left;
  margin-right: 30px;
  margin-bottom: 80px;
}
.latest_news_card:nth-child(3n) {
  margin-right: 0px;
}
.latest_news_card:nth-child(n+3) {
  margin-bottom: 0px;
}
.news_title {
  margin: 0px;
  padding: 0px;
  width: 350px;
  color: #555252;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  font-family: "Open Sans", serif;
  text-align: left;
  padding-top: 14px;
  padding-bottom: 30px;
}
.news_title::after {
  display: block;
  width: 136px;
  height: 3px;
  background-color: #1abc9c;
  content: "";
  margin-top: 14px;
}
.news_article {
  margin: 0px;
  padding: 0px;
  width: 350px;
  color: #555252;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Open Sans", serif;
  text-align: left;
  padding-bottom: 14px;
}
.link_bottom {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 160px;
    height: 50px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    font-family: "Open Sans", serif;
    background-color: #4ec6ab;
    padding-left: 42px;
    padding-top: 14px;
    border-radius: 3px
}

