  .servis__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 94px;

    &-icon {
      height: 36px;
      width: 81px;
    }
    &-item {
      display: flex;
      min-height: 68px;
      flex-basis: 381px;
      margin-bottom: 100px;

      &-wrapper {
        width: 81px;
        height: 68px;
      }
      
      &-name {
        font-size: 14px;
        color: #333333;
        font-weight: 700;
        text-transform: uppercase;
      }
      
      &-description {
        font-size: 15px;
        line-height: 24px;
        color: #999999;
        font-family: "Roboto", sans-serif;
      }
    }
    &-item:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }

  }

  
  
  
  